body {
    padding: 10px;
}

.form-group-1 {
    color: rgb(7, 207, 54);
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-right: 50px; 
    margin-left: 3%;
}

h2{ 
    color:blue;
    text-align: center;
}
