{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    <h2 >Closed Listings</h2>  
    <div class="container mt-5 ">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 ">
    
            {% for listing in listings %}
                <div class="col mb-5 "> 
                    <div class="product-card card h-100  flex-column border-primary" id="{{listing.id}}">
    
                        {% if listing.imagelink %}
                            <img src="{{listing.imagelink}}" class="card-img-top" alt="{{listing.title}}">
                        {% else %}
                            <img src="{% static 'auctions\images\default_product_image.png' %}" class="card-img-top flex-grow-1 "> 
                        {% endif %}
                        
                        <div class="card-body d-flex flex-column text-center">
                            <h5 class="card-title text-primary">{{listing.title}}</h5>
                            <p class="card-text">{{listing.description}}</p>
                            
                            <p class="card-text">
                                <strong>Seller:</strong> {{listing.owner}}<br>
                                <strong>Winner :</strong> {{listing.winner}}<br>
                                <strong>Winning Bid Price:</strong> ₹{{listing.winning_bid}}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div> 
{% endblock %}