{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
<h2>Active Listings</h2>
    
<div class="container mt-5 ">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 ">

        {% for listing in listings %}
            <div class="col mb-5 "> 
                <div class="product-card card h-100  flex-column" id="{{listing.id}}">

                    {% if listing.imagelink %}
                        <img src="{{listing.imagelink}}" class="card-img-top" alt="{{listing.title}}">
                    {% else %}
                        <img src="{% static 'auctions\images\default_product_image.png' %}" class="card-img-top flex-grow-1 "> 
                    {% endif %}

                    <div class="card-body d-flex flex-column text-center">
                        <h5 class="card-title">{{listing.title}}</h5>
                        <p class="card-text">{{listing.description}}</p>

                        <div class = "mt-auto d-flex flex-column"> 
                            <strong class ="card-text">Ask Price:₹{{listing.ask_price}}</strong>
                            <a href="{% url 'listing_details' listing.id  %}" {{ listing.id }} class="btn btn-primary  mt-2">View</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div> 

{% endblock %}